body{
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: whitesmoke
}

header{
	margin-bottom: 20px;
}

.btn-primary,.reset{
	background-color: hsl(240, 4%, 5%);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #080808;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h1, #message, #finalMessage{
	font-family: Sigmar One;
}

.thisChoice:hover{
	background-color: #141414;
	color: white;
	padding: 10px;
}

#gif{
	margin: 30px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}